.btn{
  position: absolute;
  top:180px;
  height:30px;
  width:100px;
  color:white;
  background-color:black;
  margin:20px;
  border-radius: 5px;
}
.btn:hover{
  background-color:red;
}
.header{
  position: absolute;
  border: solid 1px ;
  width:900px;
  height:300px;
  margin:50px;
  border-radius:20px;
}
.h1{
  margin-left:20px;
  font-family: Arial;
}
.flex{
  display:flex;
  padding : 20px;
  margin-left:20px;
  background-color:azure;
}
.d1{
  cursor: pointer;
}
.d2{
  position: relative;
  left:50px;
  cursor: pointer;
}
.d3{
  position: relative;
  left:100px;
  cursor: pointer;
}
.d4{
  position: relative;
  left:150px;
  cursor: pointer;
}
.d5{
  position: relative;
  left:200px;
  cursor: pointer;
}
.d4:hover{
  color:red;
}
.d1:hover{
  color:red;
}
.d2:hover{
  color:red;
}
.d3:hover{
  color:red;
}
.d5:hover{
  color:red;
}
